.board{
    display: flex;
    align-self: center;
    justify-content: center;
}
/* .board-main{
    display: contents;
    align-self: center;
    justify-content: center; */


.square-row{
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-self: center;
    justify-items: center;
   
    
}
.square{
    display: flex;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid red;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    cursor: pointer;
}
